body {
  font-family: Arial, sans-serif;
  background:#ccc;
  margin: 0;
  padding: 0;
  margin: 0;
  top: 0;
  left: 0;
  background: linear-gradient(0deg, #ded5d8, #89969eb3, #4c5755);
  background-size: 100% 100%;
  animation: moveBg 8s ease-in-out infinite alternate;
  z-index: 90;
}

header {
  background:#0f0f0feb;
  color: white;
  padding: 10px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.btn {
  background:rgb(78, 112, 112);
  color: #dbe2e9;
  padding: 6px 12px;
  border-radius: 5px;
  text-decoration: none;
}

#loader {
  text-align: center;
  padding: 30px;
  font-size: 20px;
}

#product-list, #admin-products {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 15px;
  padding: 20px;
}

.card {
  background: linear-gradient(0deg, #514b52, #89969eb3, #4c5755);
  border-radius: 8px;
  box-shadow: 0 2px 6px rgba(0,0,0,0.1);
  padding: 10px;
  text-align: center;
}

.card img {
  width: 100%;
  border-radius: 6px;
}
.card h3 {
  margin: 10px 0 5px;
}

.form-section {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 20px;
}

.form-section input {
  padding: 12px ;
  border: 1px solid #5c5959;
  border-radius: 5px;
  width: 30%;

}

input:hover {
    background-color: #f9f7fa;
}

button {
  padding:12px;
  background: #3d3c3a;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  width: 32%;
}

button:hover {
  background: #8a8a8b;
}

@keyframes moveBg {
  0% { background-position: 0% 50%; }
  100% { background-position: 100% 50%; }
}
